.desktop {
    position: relative;
    height: 100%;
    width: 100%;

    background-image: url("../assets/backgrounds/desktop.png");
    background-size: cover;
    background-position: center;
}

.desktop-icons {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.folders, .applications {
    display: flex;
    justify-content: center;
    gap: 2rem;
}